* {
  font-family: Roboto;
}

body {
  overflow: hidden;
  background: black;
}

.app {
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin: 8px;
  user-select: none;
  color: white;
}

.appimg {
  height: 22px;
  width: 22px;
  border-radius: 5px;
}

.apptitle {
  max-width: 85px;
  overflow: hidden;
  white-space: nowrap;
}

#splash {
  position: fixed;
  padding-top: 40vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  text-align: center;
  font-size: 60px;
  user-select: none;
  color: white;
  z-index: 9999;
}

.navbar {
  background: #202124;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  user-select: none;
}

.nav2 {
  background: #202124;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 51px;
  user-select: none;
}

.navbarplaceholder {
  background: transparent;
  height: 30px;
}

.navname {
  color: white;
  font-size: 20px;
  line-height: 30px;
  margin-left: 5px;
}

#navtime {
  color: white;
  position: fixed;
  right: 5px;
  top: 0;
  font-size: 18px;
  line-height: 30px;
}

.dropbtn {
  background-color: #555555;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  left: 90%
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #888888;}